.container {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 200px 100px;
}

.grid-item {
    /* text-align: center; */
    /* background: blue; */
}

.element-a {
    grid-column: span 2;
    /* background-color: red; */
}

.element-d {
    grid-column: span 2;
    /* background-color: red; */
}